.View{
  background-color: #f5f5f5;
  padding: 8px 45px 8px 0px;
  text-align: right;
  margin-top: 1px;
}

.ViewConent{
  text-decoration: none;
  color: #5e5e5e;
}

.ViewConent:hover{
  text-decoration: none;
  color: black;
}

.Dashboard{
  padding-left: 50px;
}
.Cards{
  padding:1px 10px;
  display: flex;
}

.Heading{
  font-style: 'Roboto', sans-serif;
  margin-top: 70px;
  font-size: 28px;
  font-weight: 400;
}

  .Box{
    margin: 30px 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    display: flex;
    width: 250px;
    height: 100px;
  }

  .Icon{
    flex: 30%;
    padding-top: 35px;
    padding-left: 25px;
    color: white;
    font-size: 30px;
  }

  .Content{
    flex: 70%;
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Times New Roman", Times, serif;
  }

.Box1,.Box2,.Box3,.Box4{
      width: 100px;
}

.Box1{    
background-color: #ff3300;
  }

  .Box2{
    background-color: lightgreen;
  }

  .Box3{
    background-color: #ff9900;
  }

  .Box4{
    background-color: #66ffff;
  }

  .TwoBoxes{
    width: 100%;
    display: flex;
  }

  .LeftBox{
     width: 60%;
     margin-right: 60px;

  }

  .RightBox{
      width: 25%;
  }


  

.table1 {
  font-style: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  margin-top: 20px;
}

.table1 td, .table1 th {
  border-top: 1px solid #ddd;
  padding: 8px;
}


.table1 tr:hover {background-color: #ddd;}

.table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FD752C;
  color: white;
}

.table1 caption{
  background-color: white;
  padding: 8px;
  margin-bottom: 2px;
}

.scroll{
  overflow: scroll;
}

.table2 {
  font-style: 'Roboto', sans-serif;
  border-collapse: collapse;
  background-color: white;
  width: 100%;
  margin-top: 20px;
}

.table2 td, .table2 th {
  border-top: 1px solid #ddd;
  padding: 8px;
}


.table2 tr:hover {background-color: #ddd;}

.table2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FD752C;
  color: white;
}

.table2 caption{
  background-color: white;
  padding: 8px;
  margin-bottom: 2px;
}

.table2 {
  font-style: 'Roboto', sans-serif;
  border-collapse: collapse;
  background-color: white;
  width: 100%;
  margin-top: 20px;
}

.table2 td, .table2 th {
  border-top: 1px solid #ddd;
  padding: 8px;
}


.table2 tr:hover {background-color: #ddd;}

.table2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FD752C;
  color: white;
}

.table2 caption{
  background-color: white;
  padding: 8px;
  margin-bottom: 2px;
}

