.table2 {
    font-style: 'Roboto', sans-serif;
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    margin-top: 20px;
  }
  
.table2 td, .table2 th {
    border-top: 1px solid #ddd;
    padding: 8px;
  }
  
  
.table2 tr:hover {background-color: #ddd;}
  
.table2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FD752C;
    color: white;
  }

  .table2 caption{
    background-color: white;
    padding: 8px;
    margin-bottom: 2px;
}

