.Container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: 900px;
    margin: 40px 0px 30px 100px;
}