.Username{
    text-align: center;
    margin-left: 70%;
  }

  
  .Navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FD752C;
    position: fixed;
    top: 0;
    width: 100%;
    font-style: 'Roboto', sans-serif;
    z-index: 1;
  }

  .Navbar li {
    float: left;
  }
  
  .Navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .Active{
    font-weight: 500;
    font-size: 18px;
  }
  
  /* .Navbar li a:hover:not(.active) {
    background-color: #eb5f14;
  } */

  .Navicon{
    text-align: center;
    font-size: 18px;
    padding: 0px 8px 0px 0px;
    position: relative;
    top: 4px;
  }